img {
    width: 200px;
}


p {
    background-color:black;
    color:white;
}
.multiPTags {
    background-color: blue;
    color: grey
}

#firstParagraph {
    background-color: purple;
    color: orange
}

div {
    background-color: orange;

}
