
element.style {
}
div {
    height: 200px;
    width: 200px;
    font-size: 60px;
    background-color: green;
    justify-content: center;
    align-items: center;
}
:root {
    --textColor: purple;
}
#parent {
    height: 500px;
    width: 500px;
    background-color: black;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.child {
    height: 60px;
    width:60px;
    background-color: white;
    margin:20px;
    font-size:26px;
    text-align:center;
 
}


